/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #afd019;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* You can add more global styles or overrides here */
